<h1>{{title}}</h1>
<div>
  <label for="length">Enter Length</label>
  <input (input)="onChangeLength($event.target!)" [value]='length' />
</div>
<div>
  <input type="checkbox" name="letter" id="letter" checked (change)="useLetter()">
  <label for="letter">Use Letters</label>
</div>
<div>
  <input type="checkbox" name="number" id="number" checked (change)="useNumber()">
  <label for="number">Use Numbers</label>
</div>
<div>
  <input type="checkbox" name="symbol" id="symbol" (change)="useSymbol()">
  <label for="symbol">Use Symbols</label>
</div>

<button (click)="generatePassword()">Generate New Password</button>

<div *ngIf="password">
  <label for="password">Your Password</label>
  <input type="text" name="password" id="password" [value]="password">
</div>
<div *ngIf="message">
  <h1>{{message}}</h1>
</div>

<!-- my avatar -->
<br />
<img
  src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairBob&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=Hoodie&clotheColor=Blue02&eyeType=Wink&eyebrowType=RaisedExcited&mouthType=Smile&skinColor=Light' />
