<h1>Password Generator</h1>
<div>
  <label for="length">Enter Length</label>
  <input (input)="onChangeLength($any($event.target).value)" />
</div>
<div>
  <input type="checkbox" name="letter" id="letter" (change)="useLetter()">
  <label for="letter">Use Letters</label>
</div>
<div>
  <input type="checkbox" name="number" id="number" (change)="useNumber()">
  <label for="number">Use Numbers</label>
</div>
<div>
  <input type="checkbox" name="symbol" id="symbol" (change)="useSymbol()">
  <label for="symbol">Use Symbols</label>
</div>

<button (click)="generatePassword()">Generate</button>

<div>
  <label for=" password">Your Password</label>
  <input type="text" name="password" id="password" [value]="password">
</div>
<h1>{{message}}</h1>
